- hosts: local
  become: true
  become_method: sudo
  become_user: root
  tasks:
      - name: Ubuntu apt packages
        import_tasks: distros/ubuntu/apt-packages.yml
        when: ansible_facts['distribution'] == "Ubuntu"

      - name: Alpine apk packages
        import_tasks: distros/alpine/apk-packages.yml
        when: ansible_facts['distribution'] == "Alpine"

      - name: CentOS dnf packages
        import_tasks: distros/centos/dnf-packages.yml
        when: ansible_facts['distribution'] == "CentOS"

      - name: Create ~/.config dir
        file:
            path: "{{ lookup('env', 'HOME')}}/.config"
            state: directory
            mode: "0755"

      # Start linking
      - name: Create symlink dir under ~/.config
        file:
            src: "{{ lookup('env', 'HOME') }}/dotfiles/common/.config/{{ item }}"
            dest: "{{ lookup('env', 'HOME')}}/.config/{{ item }}"
            state: link
            force: yes
        loop:
            - alacritty
            - fcitx5
            - labwc
            - nvim
            - swaylock
            - waybar
      - name: Link other config files
        file:
            src: "{{ lookup('env', 'HOME') }}/dotfiles/common/{{ item.src }}"
            dest: "{{ lookup('env', 'HOME') }}/{{ item.dest }}"
            state: link
            force: yes
        loop:
            - { src: "common/.fluxbox", dest: ".fluxbox" }
            - { src: "common/.xinitrc", dest: ".xinitrc" }
            - { src: "common/.xprofile", dest: ".xprofile" }
      - name: Ensure system font directory exists
        file:
            path: /usr/local/share/fonts/nerd
            state: directory
            mode: "0755"

      - name: Download ZedMono nerd font
        get_url:
            url: https://github.com/ryanoasis/nerd-fonts/releases/download/v3.4.0/ZedMono.tar.xz
            dest: /tmp/ZedMono.tar.xz
            mode: "0644"

      - name: Extract ZedMono font
        unarchive:
            src: /tmp/ZedMono.tar.xz
            dest: /usr/local/share/fonts/nerd/
            remote_src: yes

      - name: Refresh font cache
        command: fc-cache -fv
